<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <script type="text/javascript" src="angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places&language=en-US"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-resource.min.js"></script>
    <script type="text/javascript" src="Module.js"></script>
    <script type="text/javascript" src="FetchMapDetailServices.js"></script>
    <script type="text/javascript" src="FetchMapDetailController.js"></script>

<style>
    #map{height:768px;width:1024px;}
</style>
</head>
<body  ng-app="mapmodule" ng-controller="mapcontroller">
    <google-Places location=location></google-Places>
    <button ng-click="SearchLocation()" class="btn btn-large btn-primary">Search</button>
<div id="map"></div>

</body>
</html>